<template name='entrySignUp'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      {{#if logo}}
        <div class="entry-logo">
          <a href="/" class="{{linkCSSClass}}"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry mdl-cell mdl-cell--12-col">
        <h3>{{t9n "createAccount"}}</h3>
        {{#if otherLoginServices}}
          <p class="entry-signin-cta">{{t9n
          "ifYouAlreadyHaveAnAccount"}} <a href="{{pathFor
            'entrySignIn'}}" class="{{linkCSSClass}}">{{t9n "signin"}}</a>.</p>
          <div class="entry-social">
            {{#each loginServices}}
              {{> entrySocial}}
            {{/each}}
            {{#if passwordLoginService}}
              <div class="email-option">
                <strong class="line-thru">{{t9n "OR"}}</strong>
                <a data-toggle="collapse" href="#signUp"
                  class="{{linkCSSClass}}">
                  {{t9n "signUpWithYourEmailAddress"}}
                </a>
              </div>
            {{/if}}
          </div>
        {{else}}
            <p class="entry-signin-cta">{{t9n
            "ifYouAlreadyHaveAnAccount"}} <a href="{{pathFor
              'entrySignIn'}}" class="{{linkCSSClass}}">{{t9n "signin"}}</a>.</p>
        {{/if}}
        {{> entryError}}
        {{#if passwordLoginService}}
          <form class="entry-form {{signupClass}}" id='signUp'>
            {{#if showUsername}}
              <div class="{{formGroupCSSClass}}">
                <label class="{{labelCSSClass}}">{{t9n "username"}}</label>
                <input autofocus name="username" type="string" class="{{inputCSSClass}}" value=''  autocapitalize="none" autocomplete="off" autocorrect="off">
              </div>
            {{/if}}

            {{#if showEmail}}
              <div class="{{formGroupCSSClass}}">
                <label class="{{labelCSSClass}}">{{t9n "emailAddress"}}</label>
                {{#if showUsername}}
                  <input type="email" class="{{inputCSSClass}}" value='{{emailAddress}}'  autocapitalize="none" autocomplete="off" autocorrect="off">
                {{else}}
                  <input autofocus type="email" class="{{inputCSSClass}}" value='{{emailAddress}}'  autocapitalize="none" autocomplete="off" autocorrect="off" >
                {{/if}}
              </div>
            {{/if}}

            <div class="{{formGroupCSSClass}}">
              <label class="{{labelCSSClass}}">{{t9n "password"}}</label>
              <input type="password" class="{{inputCSSClass}}" value=''>
            </div>

            {{#if showSignupCode}}
              <div class="{{formGroupCSSClass}}">
                <label class="{{labelCSSClass}}">{{t9n "signupCode"}}</label>
                <input name="signupCode" type="string" class="{{inputCSSClass}}" value=''  autocapitalize="none" autocomplete="off" autocorrect="off" >
              </div>
            {{/if}}

            {{> entryExtraSignUpFields}}
            <button type="submit" class="{{buttonCSSClass}}">{{t9n "signUp"}}</button>
          </form>
        {{/if}}
        {{#if both}}
          <p class="entry-agreement">{{t9n "clickAgree"}}
            <a href="{{privacyUrl}}" class="{{linkCSSClass}}">{{t9n "privacyPolicy"}}</a> {{t9n "and"}}
            <a href="{{termsUrl}}" class="{{linkCSSClass}}">{{t9n "terms"}}</a>.
          </p>
        {{else}}
          {{#unless neither}}
            <p class="entry-agreement">{{t9n "clickAgree"}}
              {{#if privacyUrl}}<a href="{{privacyUrl}}" class="{{linkCSSClass}}">{{t9n "privacyPolicy"}}</a>.{{/if}}
              {{#if termsUrl}}<a href="{{termsUrl}}"
                class="{{linkCSSClass}}">{{t9n "terms"}}</a>.{{/if}}
            </p>
          {{/unless}}
        {{/if}}
        {{#if talkingToServer}}
          {{> spinner}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
