<template name='entryResetPassword'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      {{#if logo}}
        <div class="entry-logo">
          <a href="/" class="{{linkCSSClass}}"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry {{gridCSSClass}}">
        {{#if error}}
          <div class="{{errorCSSClass}}">{{error}}</div>
        {{/if}}
        <h3>{{t9n "resetYourPassword"}}</h3>
        <form id='resetPassword'>
          <div class="{{formGroupCSSClass}}">
            <input type="password" name="new-password"
            class="{{inputCSSClass}}" value=''>
          </div>
          <button type="submit" class="{{buttonCSSClass}}">{{t9n "updateYourPassword"}}</button>
        </form>
        {{#if showSignupCode}}
          <p class="entry-signup-cta">{{t9n 'dontHaveAnAccount'}} <a
            href="{{pathFor 'entrySignUp'}}" class="{{linkCSSClass}}">{{t9n 'signUp'}}</a></p>
        {{/if}}
        {{#if talkingToServer}}
          {{> spinner}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
