<template name='entrySignIn'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      {{#if logo}}
        <div class="entry-logo">
          <a href="/" class="{{linkCSSClass}}"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry {{gridCSSClass}}">
        {{#if otherLoginServices}}
        <div class="entry-social">
          {{#each loginServices}}
            {{> entrySocial}}
          {{/each}}
          {{#if passwordLoginService}}
          <div class="email-option">
            <strong class="line-thru or-sign-in">{{t9n "OR"}}</strong>
          </div>
          {{/if}}
        </div>
        {{/if}}
        {{> entryError}}
        {{#unless otherLoginServices}}
          <div class="email-option">
            <h3>{{t9n "signIn"}}</h3>
          </div>
        {{/unless}}
        {{#if passwordLoginService}}
          <form class="entry-form" id='signIn'>
            <div class="{{formGroupCSSClass}}">
              <input autofocus name="email" type="{{emailInputType}}" class="{{inputCSSClass}}" value='{{email}}' placeholder="{{emailPlaceholder}}" autocapitalize="none" autocomplete="off" autocorrect="off">
            </div>
            <div class="{{formGroupCSSClass}}">
              <input name="password" type="password" class="{{inputCSSClass}}" value='{{password}}' placeholder="{{t9n 'password'}}">
            </div>
            {{#unless isUsernameOnly}}
            <p><a href="{{pathFor 'entryForgotPassword'}}"
              class="{{linkCSSClass}}">{{t9n "forgotPassword"}}</a></p>
              <button type="submit" class="{{buttonCSSClass}}">{{t9n "signIn"}}</button>
            {{/unless}}
          </form>
        {{/if}}
        {{#if showCreateAccountLink}}
        <p class="entry-signup-cta">{{t9n "dontHaveAnAccount"}} <a
          href="{{pathFor 'entrySignUp'}}" class="{{linkCSSClass}}">{{t9n "signUp"}}</a></p>
        {{/if}}
        {{#if talkingToServer}}
          {{> spinner}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
