<template name='entryForgotPassword'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      {{#if logo}}
        <div class="entry-logo">
          <a href="/" class="{{linkCSSClass}}"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry {{gridCSSClass}}">
        {{#if error}}
          <div class="{{gridCSSClass}}">{{error}}</div>
        {{/if}}
        <h3>{{t9n 'forgotPassword'}}</h3>
        <form id='forgotPassword'>
          <div class="{{formGroupCSSClass}}">
            <input type="email" name="forgottenEmail"
            class="{{inputCSSClass}}" placeholder="{{t9n 'emailAddress'}}" value=''>
          </div>
          <button type="submit" class="{{buttonCSSClass}}">{{t9n 'emailResetLink'}}</button>
        </form>
        {{#if showSignupCode}}
          <p class="entry-signup-cta">{{t9n 'dontHaveAnAccount'}} <a
            href="{{pathFor 'entrySignUp'}}" class="{{linkCSSClass}}">{{t9n 'signUp'}}</a></p>
        {{/if}}
        {{#if talkingToServer}}
          {{> spinner}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

