<template name='entryVerificationPending'>
  <div class="{{containerCSSClass}}">
    <div class="{{rowCSSClass}}">
      {{#if logo}}
        <div class="entry-logo">
          <a href="/" class="{{linkCSSClass}}"><img src="{{logo}}" alt="logo"></a>
        </div>
      {{/if}}
      <div class="entry {{gridCSSClass}}">
        {{#if error}}
          <div class="{{errorCSSClass}}">{{error}}</div>
        {{/if}}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{t9n 'verificationPending'}}</h3>
          </div>
          <div class="panel-body">
            {{t9n 'verificationPendingDetails'}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
